* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(pics/flower2.webp);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.balloon {
    height: 60px;
    width: 55px;
    background-color: crimson;
    position: absolute;
    top: 40%;
    left: 75%;
    border-radius: 50px;
    animation: move 2s ease-in infinite;
    opacity: 0.1;
    z-index: 0;
}

.balloon:before {
    content: "";
    height: 60px;
    width: 6px;
    position: absolute;
    background-color: white;
    top: 93%;
    left: 40%;
}

@keyframes move {
    0% {
        top: 87%;
    }

    100% {
        top: 0%;
    }
}


.balloon:nth-child(2) {
    left: 21%;
    top: 40%;
    background-color: green;
    animation-duration: 3s;
}

.balloon:nth-child(3) {
    left: 40%;
    top: 40%;
    background-color: yellow;
    animation-duration: 5s;
}

.balloon:nth-child(4) {
    left: 47%;
    top: 40%;
    background-color: rgb(3, 213, 240);
    animation-duration: 4s;
}

.balloon:nth-child(5) {
    left: 54%;
    top: 40%;
    background-color: rgb(128, 0, 119);
    animation-duration: 3s;
}

.balloon:nth-child(6) {
    left: 60%;
    top: 40%;
    background-color: rgb(247, 19, 145);
    animation-duration: 7s;
}

.balloon:nth-child(7) {
    left: 660%;
    top: 40%;
    background-color: rgb(244, 183, 14);
    animation-duration: 6s;
}

.balloon:nth-child(8) {
    left: 80%;
    top: 40%;
    background-color: rgb(235, 53, 202);
    animation-duration: 3s;
}

.balloon:nth-child(9) {
    left: 70%;
    top: 40%;
    background-color: yellowgreen;
    animation-duration: 4s;
}

.msg-div {
    width: 550px;
    height: 800px;
    /* border: 2px solid yellow; */
    margin-top: 30px;
    margin-left: 30px;
    z-index: 1;
}

.pera {
    color: rgba(208, 211, 207, 0.72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 39px;
    line-height: 55px;
    padding: 25px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    z-index: 1;

}

.button-div {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.back-button {
    padding: 7px;
    border-radius: 10%;
    display: flex;
    position: relative;
    /* background-color: rgba(226, 232, 224, 0.72);
    box-shadow: 1px 2px rgba(211, 214, 210, 0.72); */
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.back-button:hover {
    background-color: #e7e7e7;
}

a {
    text-decoration: none;
}


@media only screen and (max-width: 320px){ 

    body {
        background-image: url(pics/bluebackg.jpg);
        height: 100vh;  
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* background-position: top; */
    }
    
    .balloon {
        height: 60px;
        width: 55px;
        background-color: crimson;
        position: absolute;
        top: 40%;
        left: 75%;
        border-radius: 50px;
        animation: move 2s ease-in infinite;
        opacity: 0.1;
        z-index: 0;
    }
    
    .balloon:before {
        content: "";
        height: 60px;
        width: 6px;
        position: absolute;
        background-color: white;
        top: 93%;
        left: 40%;
    }
    
    @keyframes move {
        0% {
            top: 87%;
        }
    
        100% {
            top: 0%;
        }
    }
    
    
    .balloon:nth-child(2) {
        left: 31%;
        top: 40%;
        background-color: green;
        animation-duration: 3s;
    }
    
    .balloon:nth-child(3) {
        left: 40%;
        top: 40%;
        background-color: yellow;
        animation-duration: 7s;
    }
    
    .balloon:nth-child(4) {
        left: 47%;
        top: 40%;
        background-color: rgb(3, 213, 240);
        animation-duration: 4s;
    }
    
    .balloon:nth-child(5) {
        left: 54%;
        top: 40%;
        background-color: rgb(128, 0, 119);
        animation-duration: 2s;
    }
    
    .balloon:nth-child(6) {
        left: 60%;
        top: 40%;
        background-color: rgb(247, 19, 145);
        animation-duration: 7s;
    }
    
    .balloon:nth-child(7) {
        left: 30%;
        top: 40%;
        background-color: rgb(244, 183, 14);
        animation-duration: 3s;
    }
    
    .balloon:nth-child(8) {
        left: 10%;
        top: 40%;
        background-color: rgb(235, 53, 202);
        animation-duration: 1s;
    }
    
    .balloon:nth-child(9) {
        left: 20%;
        top: 40%;
        background-color: yellowgreen;
        animation-duration: 4s;
    }
    
    .msg-div {
        width: 100vw;
        /* height: 800px; */
        /* border: 2px solid yellow; */
        margin-top: 0px;
        margin-left: 0px;
        z-index: 1;
        padding: .2rem;
    }
    
    .pera {
        color: rgba(28, 36, 25, 0.72);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2rem;
        line-height: 2.1rem;
        /* padding: 25px; */
        font-family: "Caveat", serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
        z-index: 1;
    
    }
    
    .button-div {
        position: absolute;
        /* bottom: 20px; */
        right: 20px;
    }
    
    .back-button {
        box-shadow: 3px 4px 0px 0px #899599;
        background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
        background-color:#ededed;
        border-radius:50%;
        border:1px solid #d6bcd6;
        display:inline-block;
        cursor:pointer;
        color:#16363e;
        font-family:Arial;
        font-size:1rem;
        padding:.6rem .8rem;
        text-decoration:none;
        text-shadow:0px 1px 0px #e1e2ed;
    }
    .back-button:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color:#bab1ba;
    }
    .back-button:active {
        position:relative;
        top:1px;
    }
    
    a {
        text-decoration: none;
    }
    
}


    @media only screen and (min-width: 320px){ 

        body {
            background-image: url(pics/bluebackg.jpg);
            height: 100vh;  
            width: 100vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            /* background-position: top; */
        }
        
        .balloon {
            height: 60px;
            width: 55px;
            background-color: crimson;
            position: absolute;
            top: 40%;
            left: 75%;
            border-radius: 50px;
            animation: move 2s ease-in infinite;
            opacity: 0.1;
            z-index: 0;
        }
        
        .balloon:before {
            content: "";
            height: 60px;
            width: 6px;
            position: absolute;
            background-color: white;
            top: 93%;
            left: 40%;
        }
        
        @keyframes move {
            0% {
                top: 87%;
            }
        
            100% {
                top: 0%;
            }
        }
        
        
        .balloon:nth-child(2) {
            left: 31%;
            top: 40%;
            background-color: green;
            animation-duration: 3s;
        }
        
        .balloon:nth-child(3) {
            left: 40%;
            top: 40%;
            background-color: yellow;
            animation-duration: 7s;
        }
        
        .balloon:nth-child(4) {
            left: 47%;
            top: 40%;
            background-color: rgb(3, 213, 240);
            animation-duration: 4s;
        }
        
        .balloon:nth-child(5) {
            left: 54%;
            top: 40%;
            background-color: rgb(128, 0, 119);
            animation-duration: 2s;
        }
        
        .balloon:nth-child(6) {
            left: 60%;
            top: 40%;
            background-color: rgb(247, 19, 145);
            animation-duration: 7s;
        }
        
        .balloon:nth-child(7) {
            left: 30%;
            top: 40%;
            background-color: rgb(244, 183, 14);
            animation-duration: 3s;
        }
        
        .balloon:nth-child(8) {
            left: 10%;
            top: 40%;
            background-color: rgb(235, 53, 202);
            animation-duration: 1s;
        }
        
        .balloon:nth-child(9) {
            left: 20%;
            top: 40%;
            background-color: yellowgreen;
            animation-duration: 4s;
        }
        
        .msg-div {
            width: 100vw;
            /* height: 800px; */
            /* border: 2px solid yellow; */
            margin-top: 0px;
            margin-left: 0px;
            z-index: 1;
            padding: .2rem;
        }
        
        .pera {
            color: rgba(28, 36, 25, 0.72);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2rem;
            line-height: 2.1rem;
            /* padding: 25px; */
            font-family: "Caveat", serif;
            font-optical-sizing: auto;
            font-weight: bolder;
            font-style: normal;
            z-index: 1;
        
        }
        
        .button-div {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
        
        .back-button {
            box-shadow: 3px 4px 0px 0px #899599;
            background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
            background-color:#ededed;
            border-radius:50%;
            border:1px solid #d6bcd6;
            display:inline-block;
            cursor:pointer;
            color:#16363e;
            font-family:Arial;
            font-size:1rem;
            padding:.6rem .8rem;
            text-decoration:none;
            text-shadow:0px 1px 0px #e1e2ed;
        }
        .back-button:hover {
            background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
            background-color:#bab1ba;
        }
        .back-button:active {
            position:relative;
            top:1px;
        }
        
        a {
            text-decoration: none;
        }


        @media only screen and (min-width: 375px){ 

            body {
                background-image: url(pics/bluebackg.jpg);
                height: 100vh;  
                width: 100vw;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                /* background-position: top; */
            }
            
            .balloon {
                height: 60px;
                width: 55px;
                background-color: crimson;
                position: absolute;
                top: 40%;
                left: 75%;
                border-radius: 50px;
                animation: move 2s ease-in infinite;
                opacity: 0.1;
                z-index: 0;
            }
            
            .balloon:before {
                content: "";
                height: 60px;
                width: 6px;
                position: absolute;
                background-color: white;
                top: 93%;
                left: 40%;
            }
            
            @keyframes move {
                0% {
                    top: 87%;
                }
            
                100% {
                    top: 0%;
                }
            }
            
            
            .balloon:nth-child(2) {
                left: 31%;
                top: 40%;
                background-color: green;
                animation-duration: 3s;
            }
            
            .balloon:nth-child(3) {
                left: 40%;
                top: 40%;
                background-color: yellow;
                animation-duration: 7s;
            }
            
            .balloon:nth-child(4) {
                left: 47%;
                top: 40%;
                background-color: rgb(3, 213, 240);
                animation-duration: 4s;
            }
            
            .balloon:nth-child(5) {
                left: 54%;
                top: 40%;
                background-color: rgb(128, 0, 119);
                animation-duration: 2s;
            }
            
            .balloon:nth-child(6) {
                left: 60%;
                top: 40%;
                background-color: rgb(247, 19, 145);
                animation-duration: 7s;
            }
            
            .balloon:nth-child(7) {
                left: 30%;
                top: 40%;
                background-color: rgb(244, 183, 14);
                animation-duration: 3s;
            }
            
            .balloon:nth-child(8) {
                left: 10%;
                top: 40%;
                background-color: rgb(235, 53, 202);
                animation-duration: 1s;
            }
            
            .balloon:nth-child(9) {
                left: 20%;
                top: 40%;
                background-color: yellowgreen;
                animation-duration: 4s;
            }
            
            .msg-div {
                width: 100vw;
                /* height: 800px; */
                /* border: 2px solid yellow; */
                margin-top: 0px;
                margin-left: 0px;
                z-index: 1;
                padding: .2rem;
            }
            
            .pera {
                color: rgba(28, 36, 25, 0.72);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 2rem;
                line-height: 2.1rem;
                /* padding: 25px; */
                font-family: "Caveat", serif;
                font-optical-sizing: auto;
                font-weight: bolder;
                font-style: normal;
                z-index: 1;
            
            }
            
            .button-div {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            
            .back-button {
                box-shadow: 3px 4px 0px 0px #899599;
                background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
                background-color:#ededed;
                border-radius:50%;
                border:1px solid #d6bcd6;
                display:inline-block;
                cursor:pointer;
                color:#16363e;
                font-family:Arial;
                font-size:1rem;
                padding:.6rem .8rem;
                text-decoration:none;
                text-shadow:0px 1px 0px #e1e2ed;
            }
            .back-button:hover {
                background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
                background-color:#bab1ba;
            }
            .back-button:active {
                position:relative;
                top:1px;
            }
            
            a {
                text-decoration: none;
            }
    
    
    



        }


        @media only screen and (min-width: 425px){ 

            body {
                background-image: url(pics/bluebackg.jpg);
                height: 100vh;  
                width: 100vw;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                /* background-position: top; */
            }
            
            .balloon {
                height: 60px;
                width: 55px;
                background-color: crimson;
                position: absolute;
                top: 40%;
                left: 75%;
                border-radius: 50px;
                animation: move 2s ease-in infinite;
                opacity: 0.1;
                z-index: 0;
            }
            
            .balloon:before {
                content: "";
                height: 60px;
                width: 6px;
                position: absolute;
                background-color: white;
                top: 93%;
                left: 40%;
            }
            
            @keyframes move {
                0% {
                    top: 87%;
                }
            
                100% {
                    top: 0%;
                }
            }
            
            
            .balloon:nth-child(2) {
                left: 31%;
                top: 40%;
                background-color: green;
                animation-duration: 3s;
            }
            
            .balloon:nth-child(3) {
                left: 40%;
                top: 40%;
                background-color: yellow;
                animation-duration: 7s;
            }
            
            .balloon:nth-child(4) {
                left: 47%;
                top: 40%;
                background-color: rgb(3, 213, 240);
                animation-duration: 4s;
            }
            
            .balloon:nth-child(5) {
                left: 54%;
                top: 40%;
                background-color: rgb(128, 0, 119);
                animation-duration: 2s;
            }
            
            .balloon:nth-child(6) {
                left: 60%;
                top: 40%;
                background-color: rgb(247, 19, 145);
                animation-duration: 7s;
            }
            
            .balloon:nth-child(7) {
                left: 30%;
                top: 40%;
                background-color: rgb(244, 183, 14);
                animation-duration: 3s;
            }
            
            .balloon:nth-child(8) {
                left: 10%;
                top: 40%;
                background-color: rgb(235, 53, 202);
                animation-duration: 1s;
            }
            
            .balloon:nth-child(9) {
                left: 20%;
                top: 40%;
                background-color: yellowgreen;
                animation-duration: 4s;
            }
            
            .msg-div {
                width: 100vw;
                /* height: 800px; */
                /* border: 2px solid yellow; */
                margin-top: 0px;
                margin-left: 0px;
                z-index: 1;
                padding: .2rem;
            }
            
            .pera {
                color: rgba(28, 36, 25, 0.72);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 2.5rem;
                line-height: 2.3rem;
                /* padding: 25px; */
                font-family: "Caveat", serif;
                font-optical-sizing: auto;
                font-weight: bolder;
                font-style: normal;
                z-index: 1;
            
            }
            
            .button-div {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            
            .back-button {
                box-shadow: 3px 4px 0px 0px #899599;
                background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
                background-color:#ededed;
                border-radius:50%;
                border:1px solid #d6bcd6;
                display:inline-block;
                cursor:pointer;
                color:#16363e;
                font-family:Arial;
                font-size:1rem;
                padding:.6rem .8rem;
                text-decoration:none;
                text-shadow:0px 1px 0px #e1e2ed;
            }
            .back-button:hover {
                background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
                background-color:#bab1ba;
            }
            .back-button:active {
                position:relative;
                top:1px;
            }
            
            a {
                text-decoration: none;
            }
    
    
    
        }

        @media only screen and (min-width: 475px){ 

            body {
                background-image: url(pics/bluebackg.jpg);
                height: 100vh;  
                width: 100vw;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                /* background-position: top; */
            }
            
            .balloon {
                height: 60px;
                width: 55px;
                background-color: crimson;
                position: absolute;
                top: 40%;
                left: 75%;
                border-radius: 50px;
                animation: move 2s ease-in infinite;
                opacity: 0.1;
                z-index: 0;
            }
            
            .balloon:before {
                content: "";
                height: 60px;
                width: 6px;
                position: absolute;
                background-color: white;
                top: 93%;
                left: 40%;
            }
            
            @keyframes move {
                0% {
                    top: 87%;
                }
            
                100% {
                    top: 0%;
                }
            }
            
            
            .balloon:nth-child(2) {
                left: 31%;
                top: 40%;
                background-color: green;
                animation-duration: 3s;
            }
            
            .balloon:nth-child(3) {
                left: 40%;
                top: 40%;
                background-color: yellow;
                animation-duration: 7s;
            }
            
            .balloon:nth-child(4) {
                left: 47%;
                top: 40%;
                background-color: rgb(3, 213, 240);
                animation-duration: 4s;
            }
            
            .balloon:nth-child(5) {
                left: 54%;
                top: 40%;
                background-color: rgb(128, 0, 119);
                animation-duration: 2s;
            }
            
            .balloon:nth-child(6) {
                left: 60%;
                top: 40%;
                background-color: rgb(247, 19, 145);
                animation-duration: 7s;
            }
            
            .balloon:nth-child(7) {
                left: 30%;
                top: 40%;
                background-color: rgb(244, 183, 14);
                animation-duration: 3s;
            }
            
            .balloon:nth-child(8) {
                left: 10%;
                top: 40%;
                background-color: rgb(235, 53, 202);
                animation-duration: 1s;
            }
            
            .balloon:nth-child(9) {
                left: 20%;
                top: 40%;
                background-color: yellowgreen;
                animation-duration: 4s;
            }
            
            .msg-div {
                width: 100vw;
                /* height: 800px; */
                /* border: 2px solid yellow; */
                margin-top: 0px;
                margin-left: 0px;
                z-index: 1;
                padding: .2rem;
            }
            
            .pera {
                color: rgba(28, 36, 25, 0.72);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 2.5rem;
                line-height: 2.3rem;
                /* padding: 25px; */
                font-family: "Caveat", serif;
                font-optical-sizing: auto;
                font-weight: bolder;
                font-style: normal;
                z-index: 1;
            
            }
            
            .button-div {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            
            .back-button {
                box-shadow: 3px 4px 0px 0px #899599;
                background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
                background-color:#ededed;
                border-radius:50%;
                border:1px solid #d6bcd6;
                display:inline-block;
                cursor:pointer;
                color:#16363e;
                font-family:Arial;
                font-size:1rem;
                padding:.6rem .8rem;
                text-decoration:none;
                text-shadow:0px 1px 0px #e1e2ed;
            }
            .back-button:hover {
                background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
                background-color:#bab1ba;
            }
            .back-button:active {
                position:relative;
                top:1px;
            }
            
            a {
                text-decoration: none;
            }
    
    
    
        }
        @media only screen and (min-width: 768px){ 

            body {
                background-image: url(pics/bluebackg.jpg);
                height: 100vh;  
                width: 100vw;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                /* background-position: top; */
            }
            
            .balloon {
                height: 60px;
                width: 55px;
                background-color: crimson;
                position: absolute;
                top: 40%;
                left: 75%;
                border-radius: 50px;
                animation: move 2s ease-in infinite;
                opacity: 0.1;
                z-index: 0;
            }
            
            .balloon:before {
                content: "";
                height: 60px;
                width: 6px;
                position: absolute;
                background-color: white;
                top: 93%;
                left: 40%;
            }
            
            @keyframes move {
                0% {
                    top: 87%;
                }
            
                100% {
                    top: 0%;
                }
            }
            
            
            .balloon:nth-child(2) {
                left: 31%;
                top: 40%;
                background-color: green;
                animation-duration: 3s;
            }
            
            .balloon:nth-child(3) {
                left: 40%;
                top: 40%;
                background-color: yellow;
                animation-duration: 7s;
            }
            
            .balloon:nth-child(4) {
                left: 47%;
                top: 40%;
                background-color: rgb(3, 213, 240);
                animation-duration: 4s;
            }
            
            .balloon:nth-child(5) {
                left: 54%;
                top: 40%;
                background-color: rgb(128, 0, 119);
                animation-duration: 2s;
            }
            
            .balloon:nth-child(6) {
                left: 60%;
                top: 40%;
                background-color: rgb(247, 19, 145);
                animation-duration: 7s;
            }
            
            .balloon:nth-child(7) {
                left: 30%;
                top: 40%;
                background-color: rgb(244, 183, 14);
                animation-duration: 3s;
            }
            
            .balloon:nth-child(8) {
                left: 10%;
                top: 40%;
                background-color: rgb(235, 53, 202);
                animation-duration: 1s;
            }
            
            .balloon:nth-child(9) {
                left: 20%;
                top: 40%;
                background-color: yellowgreen;
                animation-duration: 4s;
            }
            
            .msg-div {
                width: 70%;
                /* height: 800px; */
                /* border: 2px solid yellow; */
                margin-top: 0px;
                margin-left: 0px;
                z-index: 1;
                padding: .2rem;
            }
            
            .pera {
                color: rgba(28, 36,  25, 0.72);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 2.7rem;
                line-height: 2.5rem;
                /* padding: 25px; */
                font-family: "Caveat", serif;
                font-optical-sizing: auto;
                font-weight: bolder;
                font-style: normal;
                z-index: 1;
            
            }
            
            .button-div {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            
            .back-button {
                box-shadow: 3px 4px 0px 0px #899599;
                background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
                background-color:#ededed;
                border-radius:50%;
                border:1px solid #d6bcd6;
                display:inline-block;
                cursor:pointer;
                color:#16363e;
                font-family:Arial;
                font-size:1rem;
                padding:.6rem .8rem;
                text-decoration:none;
                text-shadow:0px 1px 0px #e1e2ed;
            }
            .back-button:hover {
                background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
                background-color:#bab1ba;
            }
            .back-button:active {
                position:relative;
                top:1px;
            }
            
            a {
                text-decoration: none;
            }
    
    
    
        }
        @media only screen and (min-width: 1024px){ 

            body {
                background-image: url(pics/bluebackg.jpg);
                height: 100vh;  
                width: 100vw;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                /* background-position: top; */
            }
            
            .balloon {
                height: 60px;
                width: 55px;
                background-color: crimson;
                position: absolute;
                top: 40%;
                left: 75%;
                border-radius: 50px;
                animation: move 2s ease-in infinite;
                opacity: 0.1;
                z-index: 0;
            }
            
            .balloon:before {
                content: "";
                height: 60px;
                width: 6px;
                position: absolute;
                background-color: white;
                top: 93%;
                left: 40%;
            }
            
            @keyframes move {
                0% {
                    top: 87%;
                }
            
                100% {
                    top: 0%;
                }
            }
            
            
            .balloon:nth-child(2) {
                left: 31%;
                top: 40%;
                background-color: green;
                animation-duration: 3s;
            }
            
            .balloon:nth-child(3) {
                left: 40%;
                top: 40%;
                background-color: yellow;
                animation-duration: 7s;
            }
            
            .balloon:nth-child(4) {
                left: 47%;
                top: 40%;
                background-color: rgb(3, 213, 240);
                animation-duration: 4s;
            }
            
            .balloon:nth-child(5) {
                left: 54%;
                top: 40%;
                background-color: rgb(128, 0, 119);
                animation-duration: 2s;
            }
            
            .balloon:nth-child(6) {
                left: 60%;
                top: 40%;
                background-color: rgb(247, 19, 145);
                animation-duration: 7s;
            }
            
            .balloon:nth-child(7) {
                left: 30%;
                top: 40%;
                background-color: rgb(244, 183, 14);
                animation-duration: 3s;
            }
            
            .balloon:nth-child(8) {
                left: 10%;
                top: 40%;
                background-color: rgb(235, 53, 202);
                animation-duration: 1s;
            }
            
            .balloon:nth-child(9) {
                left: 20%;
                top: 40%;
                background-color: yellowgreen;
                animation-duration: 4s;
            }
            
            .msg-div {
                width: 50%;
                /* height: 800px; */
                /* border: 2px solid yellow; */
                margin-top: 0px;
                margin-left: 0px;
                z-index: 1;
                padding: .2rem;
            }
            
            .pera {
                color: rgba(28, 36,  25, 0.72);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 4rem;
                line-height: 4rem;
                /* padding: 25px; */
                font-family: "Caveat", serif;
                font-optical-sizing: auto;
                font-weight: bold;
                font-style: normal;
                z-index: 1;
            
            }
            
            .button-div {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            
            .back-button {
                box-shadow: 3px 4px 0px 0px #899599;
                background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
                background-color:#ededed;
                border-radius:50%;
                border:1px solid #d6bcd6;
                display:inline-block;
                cursor:pointer;
                color:#16363e;
                font-family:Arial;
                font-size:1rem;
                padding:.6rem .8rem;
                text-decoration:none;
                text-shadow:0px 1px 0px #e1e2ed;
            }
            .back-button:hover {
                background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
                background-color:#bab1ba;
            }
            .back-button:active {
                position:relative;
                top:1px;
            }
            
            a {
                text-decoration: none;
            }
    
    
    
        }

}